-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.tutorials.$children.HTTPS.$URI;

    /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
    const pageTableOfContents = {

      theory: {
        $heading: localizedStrings.theory.$heading,
        $anchor: "THEORY--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      SLL_KeyAndCertificateIssue: {
        $heading: localizedStrings.SLL_KeyAndCertificateIssue.$heading,
        $anchor: "SSL_KEY_AND_CERTIFICATE_ISSUE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      code: {
        $heading: localizedStrings.code.$heading,
        $anchor: "CODE--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      },

      testing: {
        $heading: localizedStrings.testing.$heading,
        $anchor: "TESTING--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
      }

    };

    return pageTableOfContents;

  }
