-

  generatePageTableOfContents = localizedStrings => {

    const PAGE_URI = localizedRouting.API.$children.Server.$URI;

    /* [ Maintainability ] Keep this constant to make able the copying of qualified names in IntelliJ IDEA IDEs. */
    const pageTableOfContents = {

      publicStaticMethods: {

        $heading: localizedStrings.publicStaticMethods.$heading,
        $anchor: "PUBLIC_STATIC_METHODS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          initializeAndStart: {
            $heading: "<code>initializeAndStart</code>",
            $anchor: "PUBLIC_STATIC_METHODS-INITIALIZE_AND_START--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          },

          initialize: {
            $heading: "<code>initialize</code>",
            $anchor: "PUBLIC_STATIC_METHODS-INITIALIZE--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      publicInstanceMethods: {

        $heading: localizedStrings.publicInstanceMethods.$heading,
        $anchor: "PUBLIC_INSTANCE_METHODS--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          start: {
            $heading: "<code>start</code>",
            $anchor: "PUBLIC_INSTANCE_METHODS-START--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
          }

        }

      },

      relatedTypes: {

        $heading: localizedStrings.relatedTypes.$heading,
        $anchor: "RELATED_TYPES--SECTION",
        get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

        $children: {

          RawConfig: {

            $heading: "<code>Server.RawConfig</code>",
            $anchor: "RAW_CONFIG--SECTION",
            get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; },

            $children: {

              IP_Address: {
                $heading: "<code>IP_Address</code>",
                $anchor: "RAW_CONFIG-IP_ADDRESS--SECTION",
                get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              },

              HTTP: {
                $heading: "<code>HTTP</code>",
                $anchor: "RAW_CONFIG-HTTP--SECTION",
                get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              },

              HTTPS: {
                $heading: "<code>HTTPS</code>",
                $anchor: "RAW_CONFIG-HTTPS--SECTION",
                get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              }

              // routing: {
              //   $heading: "<code>routing</code>",
              //   $anchor: "RAW_CONFIG-ROUTING--SECTION",
              //   get $URI() { return `${ PAGE_URI }#${ this.$anchor }`; }
              // }

            }

          }

        }

      }

    };

    return pageTableOfContents;

  }
