-

  function generateLocalizedRouting(localization) {

    const localizedRouting = {

      top: {
        $heading: localization.top.$heading,
        $URI: localization.top.$URI
      },

      tutorials: {

        $heading: localization.tutorials.$heading,

        $children: {

          helloWorld: {
            $heading: localization.tutorials.helloWorld.$heading,
            $URI: `@All/Tutorials/00-HelloWorld/HelloWorldTutorialPage.${ localization.fileNameLocalizationExtension }`
          },

          HTTPS: {
            $heading: localization.tutorials.HTTPS.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/02-HTTPS_Support/README.md"
            // $URI: `@All/Tutorials/01-HTTPS/HTTPS.${ localization.fileNameLocalizationExtension }`
          },

          routingAndControllers: {
            $heading: localization.tutorials.routingAndControllers.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/03-RoutingAndControllers/README.md"
            // $URI: `@All/Tutorials/02-RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          },

          routePathParameters: {
            $heading: localization.tutorials.routePathParameters.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/04-RoutePathParameters/README.md"
            // $URI: `@All/Tutorials/02-RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          },

          routeQueryParameters: {
            $heading: localization.tutorials.routeQueryParameters.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/05-RouteQueryParameters/README.md"
            // $URI: `@All/Tutorials/02-RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          },

          dotEnvConfiguration: {
            $heading: localization.tutorials.dotEnvConfiguration.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/06-DotenvConfig/README.md"
            // $URI: `@All/Tutorials/02-RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          },

          consoleLineInterfaceConfiguration: {
            $heading: localization.tutorials.consoleLineInterfaceConfiguration.$heading,
            $URI: "https://github.com/TokugawaTakeshi/Yamato-Daiwa-Backend/blob/master/Tutorials/07-ConsoleLineInterface/README.md"
            // $URI: `@All/Tutorials/02-RoutingAndControllers/RoutingAndControllers.${ localization.fileNameLocalizationExtension }`
          }

        }

      },

      API: {

        $heading: "API",

        $children: {

          Server: {
            $heading: localization.API.Server.$heading,
            $URI: `@All/API/Server/Server.${ localization.fileNameLocalizationExtension }`
          }

        }
      }

    };

    return localizedRouting;

  }
